<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Casino Mario Bros</title>
  <link rel="stylesheet" href="styleIndex.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <link rel="icon" type="image/png" sizes="32x32" href="source/logoImg.png">
</head>

<body>
  <header>
  <div class="contenedor">
    <img src="source/logoImg.png" class="imagen">
  </div>
  <div class="contenedorMario">
    <img src="source/letrasMario.png" class="letras">
  </div>
    <div class="usuario-info">
      <p id="nombreUser">Bienvenido, <span th:text="${username}" id="nombre-usuario">Usuario</span></p>
      <p>Fichas: <span th:text="${fichas}" id="fichas"></span></p>
    </div>
     <div id="divBotones">
        <button type="button" class="insertar-monedas" id="comprar">INGRESAR</button>
        <button type="button" class="insertar-monedas" id="retirar">RETIRAR</button>
		<a th:href="@{/cerrarSesion}">
			<img id="logout" src="source/logout.png"/>
        </a>
	</div>
  </header>

    <div id="modalRetirar" class="modal">
        <span class="close-button" onclick="closeModalRetirar()">&#10006;</span>
        <p id="pRetirarFichas" class="pModal">Saldo a retirar</p>
        <input id="inputRetirarFichas" class="inputModal" type="text" placeholder="Numero de fichas"/>
        <div class="botonesModal">
            <button class="botonModal" id="aceptarRetirar">Aceptar</button>
            <button class="botonModal" onclick="closeModalRetirar()">Cancelar</button>
        </div>
    </div>
    <div id="modal-overlayRetirar" class="modal-overlay"></div>

    <div id="modalIngresar" class="modal">
        <span class="close-button" onclick="closeModalIngresar()">&#10006;</span>
        <p id="pIngresarFichas" class="pModal">Ingresar saldo</p>
        <input id="inputIngresarFichas" class="inputModal" type="text" placeholder="Numero de fichas"/>
        <div class="botonesModal">
            <button class="botonModal" id="aceptarIngresar">Aceptar</button>
            <button class="botonModal" onclick="closeModalIngresar()">Cancelar</button>
        </div>
    </div>
    <div id="modal-overlayIngresar" class="modal-overlay"></div>


	<section class="juegos" id="main">
	    <a th:href="@{/ruletaJuego}" class="juego" id="casino">
	        <h2 id="casino-title">RuLuigi</h2>
	    </a>
	
	    <a th:href="@{/galgosJuego}" class="juego" id="carrera-galgos">
	        <h2 id="carrera-galgos-title">Yoshi Racing</h2>
	    </a>
	</section>
	

  <footer>
	<a th:href="@{/cambiarPwd}">
		<img id="changePwd" src="source/changePwd.png">
	</a>
    <p>&copy; 2024 Casino Mario Bros</p>
	<a href="https://www.youtube.com/@CASINOMARIO1234" target="_blank">
	    <img id="logoYt" src="source/yt.png" alt="Logo de YouTube">
	</a>
  </footer>
</body>
<script src="menu.js"></script>
</html>
