<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Cambiar contraseña</title>
      <link rel="icon" type="image/png" sizes="32x32" href="source/logoImg.png">
</head>
<body>
  <br></br>
  <div class="contenedor">
    <img src="source/logoImg.png" class="imagen">
  </div>
  <div class="contenedorMario">
    <img src="source/letrasMario.png" class="letras">
  </div>
  <p></p>
  <section class="form-register">
    <form action="#" th:action="@{/acceptChangePwd}" method="post">
        <p id="p_formulario" align="center">
            Modifica la contraseña
        </p>
        <input type="text" id="username" name="username" required class="controls" placeholder="Escribe tu Usuario">
        <input type="password" id="password" name="password" required class="controls" placeholder="Tu Actual Contraseña">
        <input type="password" id="passwordNueva" name="passwordNueva" required class="controls" placeholder="Escribe la nueva contraseña">        
        <p th:text="${login}"></p>
        <input class="botons" type="submit" value="Cambiar contraseña">
        
        <p><a th:href="@{/login}"><b>CANCELAR E INICIAR SESIÓN</b></a></p>
        
      </form>
    </section>
    
</body>
</html>
