<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Casino Mario Bros</title>
  <link rel="stylesheet" href="styleIndex.css">
      <link rel="icon" type="image/png" sizes="32x32" href="source/logoImg.png">
</head>

<body>
  <header>
  <div class="contenedor">
    <img src="source/logoImg.png" class="imagen">
  </div>
  <div class="contenedorMario">
    <img src="source/letrasMario.png" class="letras">
  </div>
    <p>Hubo un problema:(</p>
  <footer>
    <p>&copy; 2024 Casino Mario Bros</p>
  </footer>
</body>
<script src="Modal.js"></script>
</html>
